{% extends 'base.html.twig' %}

{% block title %}Hello AdminPerformanceController!
{% endblock %}

{% block body %}
	<div class="container mx-auto mt-5">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		{{ form_start(form) }}
		<div class="form-group">
			{{ form_label(form.actor) }}
			{{ form_widget(form.actor) }}
			<small id="emailHelp" class="text-red">{{ form_errors(form.actor) }}</small>
		</div>

		<div class="form-group mt-4">
			{{ form_label(form.performance) }}
			{{ form_widget(form.performance) }}
			<small id="emailHelp" class="text-red">{{ form_errors(form.performance) }}</small>
		</div>

		<div class="form-group mt-4">
			{{ form_label(form.role) }}
			{{ form_widget(form.role) }}
			<small id="emailHelp" class="text-red">{{ form_errors(form.role) }}</small>
		</div>

		<div class="form-group mt-4">
			{{ form_widget(form.save) }}
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
