{% extends 'base.html.twig' %}

{% block title %}Hello AdminPerformanceController!
{% endblock %}

{% block body %}
	<div class="container mx-auto mt-5">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Name</th>
					<th scope="col">Surname</th>
					<th scope="col">Email</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for actor in actors %}
					<tr>
						<th scope="row">{{ actor.id }}</th>
						<td>{{ actor.name }}</td>
						<td>{{ actor.surname }}</td>
						<td>{{ actor.email }}</td>
						<td>
							<div class="d-flex flex-row gap-2">
								<a class="btn btn-primary" href="{{ path('app_actor', { id: actor.id }) }}">View</a>
								<a class="btn btn-primary" href="{{ path('app_admin_update_actor', { id: actor.id }) }}">Edit</a>
								<a class="btn btn-danger" href="{{ path('app_admin_delete_actor', { id: actor.id }) }}">Delete</a>
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
